@font-face {
    font-family: digital;
    src: url(/EA20_RelojDigital/Fonts/digital-7.ttf);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #1F1C2C;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #928DAB, #1F1C2C);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #928DAB, #1F1C2C);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(36, 36, 36);
    border-radius: 20px;
    padding: 50px;
    font-family: digital;
    box-shadow: 0px 10px 15px rgba(#fff);
}

#reloj {
    font-size: 10rem;
    font-weight: bold;
    color: rgb(#fff);
    margin: 10px 0;
    text-align: center;
}

#fecha {
    font-size: 2rem;
    font-weight: lighter;
    color: rgb(white);
    margin: 10px 0;
    text-align: center;
}

#imagen {
    max-width: 90%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

#mensaje {
    font-size: 2rem;
    font-weight: lighter;
    color: rgb(#fff);
    text-align: center;
    margin-top: 10px;
}